:root {
    --blue: #e9f8ff;
    --white: #fff;
    --black: #000;
    --red: #ff3f3f;
    --gray: #979797;

    //features

    --light-red: #ff8282;
    --green: #289fa3;
    --orange: #fabd6e;

    //

    --beige: #fff3d4;

    --waves: #c2eced;
}
